@media screen and (min-width: 376px) and (max-width: 768px)
{
    header {
        padding: 0px 0px 40px 50px;

    }

    h1 {
        padding: 0px 0px 0px 30px;
    }

    p {
        padding: 8px 0px 0px 30px;
    }

    .LocationSearchNav {
        padding: 15px 0px 0px 30px;
    }

    .FilterNav
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px 20px ;
    padding: 25px 20px 20px 30px;
    align-items: center;
   
}
.FilterIcon
 {
    display: flex;
    text-align: left;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color:  #c6dbfab2;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    border-radius: 30px;
    color: #0065FC;
    border-style: none;     
 }
.TitleFilter
{
    font-family: 'Raleway-ExtraBold';
    font-size: 17px;
    margin-left: 7px;
    grid-column: 1 / span 2;
}
.Filter
{
    padding-top: 15px;
}
.FilterGridItem1
{
    background-color: #fff;
    width: 170px;
    height: 45px;
    font-size: 100%;
    border-radius: 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;

    
}
.FilterGridItem2
{
    background-color: #fff;
    width: 130px;
    height: 45px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
    
}
.FilterGridItem3
{
    background-color: #fff;
    width: 170px;
    height: 45px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
    
}
.FilterGridItem4
{
    background-color: #fff;
    width: 220px;
    height: 45px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
    grid-column: 1 / span 2;
    
}
.FilterButton:hover
{
    box-shadow: 10px 10px 10px #02020218;
}
.SearchResult
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}
.SearchResultInfosIcon
{
    margin-left: 5%;
}
.HostingContainer
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    flex-direction: row;
    padding: 20px;
    order: 2;
    gap: 50px;
}
.HostingMainTitle
{
    font-family: 'Raleway-ExtraBold';
    padding: 20px 20px 0px 20px;
    font-weight: bold;
    font-size: 140%;
    justify-content: start;
    padding-top: 50px;
}

.HostingMainPics
{
    display: flex;
    flex-wrap: wrap;
    
    
}
.HostingMainPicsFigure
{
    display: block;
    width: 335px;
    padding: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
    height:  200px;
}
.HostingMainPicsFigure:hover
{
    box-shadow: 10px 10px 10px #02020286;
}
.HostingMainPicsFigureImg
{
    width: 330px;
    height: 110px;
    padding: 2px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
    object-fit: cover;
}
.HostingBlock
{
  border: 2px ;
  border-radius: none;
  background-color: transparent;
  order: 2;
  
  
}


.HostingMainPicsFigCaptionTitle
{
    justify-content: start;
    padding: 0px 4% 2% 4%;
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;

    
}
.HostingMainPicsFigCaptionSubTitle
{
    justify-content: start;
    font-family: 'Raleway';
    color: black;
    text-decoration: none;

    
}

.HostingMainPicsStarsIconGroup
{
    padding-left: 3.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
}
.HostingMainPicsStarsIcon
{
    margin-right: -1.7%;
    color: #0065FC !important;
}
.fas.fa-star
{
    color: rgba(182, 182, 182, 0.993);
    margin-right: -1.7%;
}
.HostingMainViewmore
{
    justify-content: start;
    padding-left: 20px;
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-size: 130%;
    border: none;
    outline: none;
    margin-bottom: 50px;
    background-color: transparent;
}
.HostingMainViewmore:hover
{
   text-decoration: underline; 
}
.HostingPopularContainer
{
    display: grid;
    grid-row-gap: 2px;

       
}
.HostingPopularTitle
{
    font-family: 'Raleway-ExtraBold';
    font-weight: bold;
    font-size: 140%;
    justify-content: start;
   
    
    
}
.HostingPopularMainPics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 335px;
    padding: 0px 20px 0px 20px;
}
.HostingPopularMainPicsFigcaptionTitle
{
    
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;
    letter-spacing: -0.3px;   
    
    
}
.HostingPopularMainPicsFigCaptionSubTitlePrice
{
    margin-top: 6%;
    padding-bottom: 0%;
    font-family: 'Raleway';
    color: black;
    text-decoration: none;
    
}
.HostingPopularMainPicsFigure
{
    
    padding: 2px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
    width: 335px;
    height: 150px;
    margin-left: 30%;
}
.HostingPopularMainPicsFigureImg
{
    width: 130px;
    height: 145px;
    padding: 1px;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    margin: 2px;
    margin-right: -20%;
    object-fit: cover;

}
.HostingPopularMainPicsFigCaption
{
   float: right;
   margin-right: 38px;
   text-align:justify;
   padding-top: 15px ;
   width: 155px;
}
.HostingPopularMainPicsStarsIconGroup
{
    margin-top: 35px;
    margin-left:  2px;
}
.HostingPopularMainPicsStarsIcon
{
    margin-right: -1.7%;
    color: #0065FC !important; 
}
.HostingPopularMainPicsFigure:hover
{
    box-shadow: 10px 10px 10px #02020286;
}
.HostingBlockPopular
{
    border: none none;
    border-radius: 30px;
    background-color: rgba(168, 166, 166, 0.226);
    width: 80%;
    height: 620px;
    order: 1;
    margin-left: 80px;

    
    
    
     
}
.HostingAndPopular
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    padding: 35px 0px 0px 0px;
    height: 100%;
   
   
}
.HostingBlockPopularTitleGrid
{
    display: grid;
    grid-template-columns: 92% 8%;
    padding: 40px 20px 25px 20px;
    margin-right: 15%;
}
.HostingPopularTitle
{
    margin-left: 15%;
}

.fas.fa-chart-line::before
{
    font-weight: bold;
    font-size: 110%;
}
.ActivitiesMainPicsFigcaptionTitle
{
    font-size: 15px;
}
.GridFooter
{
   gap: 20px;
   text-align: center;
}
#FooterNav1
{
    padding-bottom: 0px;
    padding-left: 30px;
}
#FooterNav2
{
    padding-bottom: 0px;
    padding-left: 10px;
}
#FooterNav3
{
    padding-left: 10px;
}


    

    
    }

    