*
{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Raleway';
    src: url('./font_Raleway/Raleway-Regular.ttf'); 
}
@font-face
{
    font-family: 'Raleway-ExtraBold';
    src: url('./font_Raleway/Raleway-ExtraBold.ttf');
}

header
{
    display: grid;
    grid-template-columns: auto 150px 150px 100px;
    padding: 0px 50px 35px 50px;
    grid-template-rows: 100px;
    
}
.HeaderImage
{
    display: block;
    width: 100px;
    padding-top: 50px;
    
   
    
}
.HeaderNavTabActivities
{
    
    font-family: 'Raleway';
    color: #000000fd;
    text-decoration-line: none;
    text-align: center;
    padding-top: 50px;

    
    
}
.HeaderNavTabHosting
{
    font-family: 'Raleway';
    color: #000000fd;
    text-decoration-line: none;
    text-align: center;
    padding-top: 50px;
    color: #0065FC;
    border-top:2px solid #0065FC;
    font-weight: bold;
}
.SubmitButton
{
    font-family: 'Raleway-ExtraBold';
    color: #0065FC;
    text-decoration-line: none;
    text-align: center;
    padding-top: 50px;
}
.HeaderNavTabActivities:hover
{
    color: #0065FC;
    border-top:2px solid #0065FC;
    font-weight: bold;
}
h1
{
    font-family: 'Raleway';
    padding: 0px 0px 0px 50px;
    font-weight: bold;
    font-size: 140%;

}
p
{
    padding: 5px 0px 0px 50px;
    font-family: 'Raleway';
    color: #020202;
 
}
.LocationSearchNav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 0px 50px;

}
.LocationSearchButton
{
    background: #0065FC;
    font-family: 'Raleway';
    color: #fff;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 120px;
    font-size: 110%;
    outline: none;
}
.LocationSearchButton:hover 
{
    opacity: 0.8
}
#LocationSearchBar
{
    border-color: rgba(207, 204, 204, 0.342);
    height: 46px;
    width: 230px;
    text-align:start;
    font-family: 'Raleway';
    font-size: 110%;
    font-weight: bold;
    text-indent: 15px;
    border-style: solid none solid none;
    outline: none;   
}
.fas.fa-search
{
    display: none;
}
.fas.fa-map-marker-alt
{
    display: flex;
    width: 50px;
    background-color: rgba(207, 204, 204, 0.342);
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    border-radius: 15px 0px 0px 15px;
}
.FilterNav
{
    display: grid;
    grid-template-columns: 70px 190px 150px 190px 235px;
    grid-column-gap: 25px ;
    padding: 35px;
    align-items: center;
}
    
.FilterButton
{
    display: flex;
    background-color: #fff;
    width: 200px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    
   
}
    

.FilterIcon
 {
    display: flex;
    text-align: left;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color:  #c6dbfab2;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    border-radius: 30px;
    color: #0065FC;
    border-style: none;     
 }
 .TitleFilter
{
    font-family: 'Raleway-ExtraBold';
    font-size: 17px;
    margin-left: 15px;
    
    
}
.FilterGridItem1
{
    background-color: #fff;
    width: 190px;
    height: 50px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
}
.FilterGridItem2
{
    background-color: #fff;
    width: 150px;
    height: 50px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
}
.FilterGridItem3
{
    background-color: #fff;
    width: 190px;
    height: 50px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
}
.FilterGridItem4
{
    background-color: #fff;
    width: 235px;
    height: 50px;
    font-size: 110%;
    border-radius: 30px 30px 30px 30px;
    border-style: solid solid solid none;
    border-color: #05050518;
    align-items: center;
}
.FilterButton:hover
{
    box-shadow: 10px 10px 10px #02020218;
}
.SearchResult
{
    display: flex;
    flex-direction: row;
}
.SearchResultInfosIcon
{
    border-style: solid;
    border-color: #05050531;
    border-radius: 50px 50px 50px 50px;
    color: #0065FC;
    margin-left: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 81%;
    border-width: 1px;
    
         
}
.fas.fa-info
{
    vertical-align: -44%;
    text-align: center;
}
.SearchResultText
{
    font-family: 'Raleway';
    color: #020202;
    padding: 6px 6px 6px 10px;
}

.HostingContainer
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 30px;
    flex-direction: row;
    padding: 25px 50px 0px 50px ;
}
.HostingMainTitle
{
    font-family: 'Raleway-ExtraBold';
    padding: 20px 50px 0px 50px;
    font-weight: bold;
    font-size: 140%;
    justify-content: start;
    padding-top: 50px;
}

.HostingMainPics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.HostingMainPicsFigure
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    width: 265px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
    height:  210px;
}
.HostingMainPicsFigure:hover
{
    box-shadow: 10px 10px 10px #02020286;
}
.HostingMainPicsFigureImg
{
    width: 260px;
    height: 125px;
    padding: 2px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
    object-fit: cover;
}
.HostingBlock
{
  border: 2px ;
  border-radius: 20px;
  background-color: rgba(168, 166, 166, 0.226);
  /*width: 1000px;*/
  
  
}


.HostingMainPicsFigCaptionTitle
{
    justify-content: start;
    padding-left: 4%;
    padding-bottom: 2%;
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;

    
}
.HostingMainPicsFigCaptionSubTitle
{
    justify-content: start;
    padding-left: 4%;
    padding-bottom: 2%;
    font-family: 'Raleway';
    color: black;
    text-decoration: none;

    
}

.HostingMainPicsStarsIconGroup
{
    padding-left: 3.5%;
    padding-top: 1.2%;
    padding-bottom: 2%;
}
.HostingMainPicsStarsIcon
{
    margin-right: -1.7%;
    color: #0065FC !important;
}
.fas.fa-star
{
    color: rgba(182, 182, 182, 0.993);
    margin-right: -1.7%;
}
.HostingMainViewmore
{
    justify-content: start;
    padding-left: 50px;
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;
    margin-top: 40px;
    font-size: 130%;
    border: none;
    outline: none;
    margin-bottom: 50px;
    background-color: transparent;
}
.HostingMainViewmore:hover
{
   text-decoration: underline; 
}
.HostingPopularContainer
{
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 30px;
    
    
    
}
.HostingPopularTitle
{
    font-family: 'Raleway-ExtraBold';
    
    font-weight: bold;
    font-size: 140%;
    justify-content: start;
   
    
    
}
.HostingPopularMainPics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.HostingPopularMainPicsFigcaptionTitle
{
    
    font-family: 'Raleway-ExtraBold';
    color: black;
    text-decoration: none;
    margin: 5px;
    letter-spacing: -0.2px;
    font-size: 105%;
    
    
}
.HostingPopularMainPicsFigCaptionSubTitlePrice
{
    margin-top: 6%;
    padding-bottom: 0%;
    font-family: 'Raleway';
    color: black;
    text-decoration: none;
    
}
.HostingPopularMainPicsFigure
{
    
    padding: 2px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
    width: 370px;
    height: 150px;
}
.HostingPopularMainPicsFigureImg
{
    width: 150px;
    height: 145px;
    padding: 1px;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    margin: 2px;
    margin-right: -20%;
    object-fit: cover;

}
.HostingPopularMainPicsFigCaption
{
   float: right;
   margin-right: 38px;
   text-align:justify;
   padding-top: 15px ;
   width: 155px;
}
.HostingPopularMainPicsStarsIconGroup
{
    margin-top: 35px;
    margin-left:  2px;
}
.HostingPopularMainPicsStarsIcon
{
    margin-right: -1.7%;
    color: #0065FC !important; 
}
.HostingPopularMainPicsFigure:hover
{
    box-shadow: 10px 10px 10px #02020286;
}
.HostingBlockPopular
{
    border: 2px none;
    border-radius: 20px;
    background-color: rgba(168, 166, 166, 0.226);
    width: 460px;
    
    
    
     
}
.HostingAndPopular
{
    display: grid;
    grid-template-columns: auto 460px;
    grid-column-gap: 50px;
    padding: 50px 50px 50px 50px;
    height: 100%;
   
   
}
.HostingBlockPopularTitleGrid
{
    display: grid;
    grid-template-columns: 92% 8%;
    padding: 55px 50px 25px 60px;
}

.fas.fa-chart-line
{
    font-weight: bold;
    font-size: 150%;

}
.ActivitiesGrid
{
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 50px 200px;
    padding: 50px 50px 50px 50px;
    
}
.ActivitiesMainPicsFigure
{
    
    border: none;
    border-radius: 20px;
    box-shadow: 0.1px 0px  1px rgba(185, 184, 184, 0.37) inset, 1px 5px 5px rgba(185, 184, 184, 0.37);
     
}
.ActivitiesMainPicsFigure:hover
{
    box-shadow: 10px 10px 10px #02020286;
}
.ActivitiesMainPicsFigureImg1
{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
 
}
.ActivitiesMainPicsFigureImg2
{
    
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.ActivitiesMainPicsFigureImg3
{
   
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}
.ActivitiesMainPicsFigureImg4
{
    
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.ActivitiesMainPicsFigureImg5
{
    
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.ActivitiesMainPicsFigureImg6
{
    
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}
.grid-item1
{
    grid-row: 1/span 3;
    
    
}
.grid-item2
{
    grid-row: 1/span 2;
    
}
.grid-item3
{
    grid-row: 3/span 1;
    
}
.grid-item4
{
    grid-row: 1/span 3;
}
.grid-item5
{
    grid-row: 1/span 1;
    
}
.grid-item6
{
    grid-row: 2/span 2;
    
    
}
.ActivitiesMainPicsFigcaptionTitle
{
    font-family: 'Raleway-Extrabold';
    color: black;
    margin-left: 5%;
    margin-top: 2.5%; 
}

/*FOOTER*/

.GridFooter
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:rgba(168, 166, 166, 0.226);
    gap: 220px;
}
.FooterTitle
{
    font-family: 'Raleway-Extrabold';
    color: black;
    font-size: 120%;
    margin-bottom: 10px;
}
a
{
    font-family: 'Raleway';
    color: #020202;
    text-decoration: none;
    
    
}
a:hover
{
    text-decoration: underline;
}
li
{
    list-style: none;
    line-height: 30px;

}
#FooterNav1
{
    padding: 40px;
}
#FooterNav2
{
    padding: 40px;
}
#FooterNav3
{
    padding: 40px;
}
